body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}
h1.opener, h2 {
  font-weight: Normal;
  font-size: 50px;
  color: white;
}
h2.opener {
  font-weight: 300;
}
p {
  color: gray;
  font-size: 21px;
}
a.dlink {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}
p.copyright {
  text-align: right;
  color: gray;
}
img {
  max-width: 100%;
  height: auto;
}
video {
  max-width: 100%;
  height: auto;
}
